{% extends 'baseAdmin.html.twig' %}

{% block body %}
{% for message in app.flashes('success') %}
<div class="container alert alert-success text-center mt-3">
    {{message}}
</div>
{% endfor %}
<div class="container">
    <a href="{{path('admin_categ')}}" class="btn btn-info mt-5 mb-3"><i class="fas fa-arrow-left mr-2"></i>Retour</a>
    <div class="card cardCateg">
        <div class="card-header">
            <h2 class="text-center titleCard">Ajouter un ou plusieurs nouveau nom</h2>
        </div>
            <div class="card-body">
                {{form_start(form)}}
                <ul>
                    <li class="d-none">{{form_row(form.name)}}</li>
                </ul>
                <ul class="AddName" data-prototype="{{form_widget(form.names.vars.prototype)|e('html_attr')}}">
                    {% for name in form.names %}
                        <li class="d-none">{{form_row(name.title)}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card-footer text-center">
                    <input id="btn" type="submit" class="btn btn-info btn-block" value="Valider">
                {{form_end(form)}}
            </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script src="/js/AddName.js"></script>
{% endblock %}
